.list .cardItem {
  animation: fadeIn 0.5s forwards;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: .2s;
  width: 300px;
  z-index: 1;

  @media (min-width: $breakpoint-mobile) {
    width: 225px;
  }

  &-cardWrapper {
    box-shadow: 10px 10px 12px -8px #000;
    position: relative;
    transition: 0.2s;
    
    @media (min-width: $breakpoint-mobile) {
      &:hover {
        transform: scale(1.03);
      }
    }
  }

  &-imgWrapper {
    align-items: center;
    box-shadow: 10px 10px 12px -8px #000;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &--hasNoPoster {
      height: 450px;
      width: 300px;

      @media (min-width: $breakpoint-mobile) {
        height: 333px;
        width: 225px;
      }
    }
  }

  &-title {
    color: $textColor;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 0;
    text-align: center;

    @media (min-width: $breakpoint-mobile) {
      font-size: 16px;
    }
  }

  &-flags {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  &-flag {
    height: 25px;
    margin: 0 auto;
    padding: 2px 2px 0;
    width: 25px;

    @media (min-width: $breakpoint-mobile) {
      height: 17px;
      width: 18px;
    }
  }

  &-poster {
    display: flex;
    object-fit: cover;

    @media (min-width: $breakpoint-mobile) {
      height: 333px;
      width: 225px;
    }
  }

  &-noPoster {
    color: $textColor;
  }
}