.header {
  animation: fadeIn 1s forwards;
  color: $textColor;
  text-align: center;
  padding-top: 20px;

  &-subHeadline {
    font-size: 20px;
    font-weight: 300;
  }

  &-selectDb {
    cursor: pointer;
    font-size: 16px;
    margin: 0 7px;
  }
}